* {
    box-sizing: border-box;
  }
body {
    background-color: black;
    background-image: url(https://i.pinimg.com/originals/94/a1/5f/94a15ffa7fc5e35123f99ac6acc3cb02.jpg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#username {
    color: white;
    font-size: 4vh;
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#circle {
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.circular--portrait {
    position: relative;
    width: max(10vw, 10vh);
    height: max(10vw, 10vh);
    overflow: hidden;
    border-radius: 50%;
  }
  
.circular--portrait img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.login {
    margin: 0;
    position: absolute;
    top: 58%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

#rectangle{
    width: max(20vw, 20vh);
    height: 5vh;
    background: white;
}

#password {
    color: grey;
    padding-left: 2px;
}

.log {
    text-align: left;
    padding-top: 0;
    padding-bottom: 20px;
    color: grey;
    width: max(20vw, 20vh);
    height: 5vh;
    background: white;
}

.choose {
    font-size: 2vh;
    display: block;
    text-align: center;
    width: max(20vw, 20vh);
    height: max(2vw, 2vh);
}

@media (max-width: 768px) {
    .circular--portrait {
        width: 20vh;
        height: 20vh;
      }
      
    .circular--portrait img {
        width: 100%;
        height: 100%;
      }

    #username {
        font-size: 25px;
    }

    #rectangle{
        width: 40vh;
        height: 5vh;
        background: white;
    }
    
    #password {
        color: grey;
        padding-left: 2px;
    }
    
    .log {
        width: 40vh;
        height: 5vh;
    }
    
    .choose {
        font-size: 15px;
        display: block;
        text-align: center;
        width: 40vh;
        height: 5vh;
    }
  }
  
